.book-form {
  font-family: "Arial", sans-serif;
  background-color: #e8e8e8;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
  padding-top: 160px; /* Adjust this value based on the height of your navbar */
}

.book-form .form-container {
  background-color: #f9fafb;
  margin: 50px auto;
  padding: 20px 30px;
  max-width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-top: 5px solid orangered;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-form .form-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.book-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: orangered;
  border-bottom: 3px solid orangered;
  padding-bottom: 15px;
}

.book-form .form-group {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-form label {
  flex: 0.3; /* Adjusted from 0.2 */
  margin-right: 2px; /* Reduced from 5px */
  font-weight: 600;
  color: #444;
  text-align: right; /* Align text to the right */
  padding-right: 10px; /* Add some space to the right of the text */
}

.book-form input[type="text"],
.book-form input[type="number"],
.book-form select {
  flex: 2.7; /* Increased from 2 to occupy more space */
  padding: 10px 14px;
  border: 1.5px solid #b0b0b0;
  border-radius: 7px;
  font-size: 17px;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-right: 30px; /* Added to create space on the right side */
}

.book-form input[type="text"]:focus,
.book-form input[type="number"]:focus,
.book-form select:focus {
  border-color: orangered;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.book-form button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.book-form .form-group .action-button {
  background-color: orangered;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  display: inline-block;
}

.book-form .form-group .action-button:hover,
.book-form .form-group .action-button:focus {
  background-color: orangered;
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.book-form button.action-button {
  margin: 0;
  padding: 0;
}

.book-form input[type="checkbox"] {
  margin-right: 12px;
  cursor: pointer;
}

.book-form input[type="checkbox"]:before {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 2px solid #b0b0b0;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 21px;
  margin-right: 7px;
  transition: background-color 0.3s, color 0.3s;
}

.book-form input[type="checkbox"]:checked:before {
  background-color: orangered;
  color: #fff;
  border-color: orangered;
}

.book-form input[type="checkbox"] + label {
  margin-left: 40px;
}

.book-form .action-button {
  margin-top: 20px;
}

.book-form .form-group .action-button {
  margin-top: 10px;
}

.book-form textarea {
  flex: 2.7; /* Same flex value as other input elements */
  width: auto; /* Override the fixed width */
  height: 100px;
  padding: 10px 14px;
  border: 1.5px solid #b0b0b0;
  border-radius: 7px;
  font-size: 17px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  margin-right: 30px; /* Added to create space on the right side */
}

.book-form textarea:focus {
  border-color: orangered;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.book-form .form-group:last-of-type {
  justify-content: center;
}

.book-form .form-group .action-button[type="submit"] {
  margin-right: 0;
}
