body {

    padding-top: 100px !important;
    text-align: center !important;

}

.head {

    font-family: "Times New Roman";
    color: orangered;
    text-align: center;

  }
  
.title {

    font-family: "Times New Roman";
    color: rgb(0,200,55);
    font-size: 1.5rem;

  }
  
.container {

      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

  }
  
.image {

      height: 300px;
      padding: 8px 8px 8px 8px;
      
  }