body {

    margin-top: 100px;

}

#title {

    text-align: center;
    color: orangered;

}

#img {

    height: 250px;
    width: 250px;

}

table.center {

    margin-left: auto;
    margin-right: auto;

}

td {

    padding: 10px;
    
}