#title {
    text-align: center;
    color: #000080;
    font-family: 'Kanit';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 2px 2px 4px #cec6bd;
}

#toggle {
    color: 	#4397fb;
}

#toggle:hover {
    color: #467bc7
}

thead input {
    width: 100%;
}

.thumbnailSize{
    height: 100px;
    width: 100px;
    transition:transform 0.25s ease;
}

.thumbnailSize:hover {
    -webkit-transform:scale(3.5);
    transform:scale(3.5);
}

#buttonContainer button {

    border-radius: 5px;
    border: 1px solid #138808;
    background-color: white;

}

#buttonContainer button {

    color: #138808;

}


#buttonContainer button:hover{

    background-color: #138808;
    border: 1px solid white;
    color: white !important;

}

#buttonContainer button:hover {

    color: white;

}

#buttonContainer a {

    text-decoration: none;
    color: #138808;

}

#buttonContainer a:hover {

    text-decoration: none;
    color: white;

}

#buttonContainer {

    display: flex;
    justify-content: center;

}

.toggles {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}