body {
    background: linear-gradient(#FF9933, #ff4500);
    background-repeat: no-repeat;
    background-attachment: fixed; 

}

#title {
    text-align: center;
    color: #000080;
    text-shadow: 2px 2px 3px #cec6bd;
    font-weight: bold;
}

#subtitle {
    text-align: center;
    color: rgb(110, 102, 89);
}

#nomination-form-container {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4vh;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#guidance {
    color: grey;
    font-size: 10px;
}
